.App{
}
.App-header{
  display:flex;
  flex-direction:column;
  justify-content:center;
  background:linear-gradient(135deg, #816FF7 0%, #30D4BB 100%);
}
.controls-player{
  font-size:6rem;
}
.App-header:hover{
  background:linear-gradient(135deg, #30D4BB 0%,#816FF7  100%)
}
.img-current-song{
  width:200px;
  height:200px
}
.play-icon{
  width:40px;
  height:40px
}
.pause-icon{
  width:40px;
  height:40px
}
.prev-icon{
  width:40px;
  height:40px
}
.next-icon{
  width:40px;
  height:40px
}
