.App{
}
.App-header{
  display:flex;
  flex-direction:column;
  align-item:center;
  background:linear-gradient(135deg, #816FF7 0%, #30D4BB 100%);
}
.App-header__title{
  margin: .4rem;
  font-size: 1.05rem;
  font-weight: bold;
}
.header-container{
  display:flex;
  flex-direction:column
}
.controls-player{
  display:flex;
  justify-content:center;
  font-size:6rem;
}
.song-playing{
  margin:.2rem;
display:flex;
flex-direction:column
}
.song-playing__title{
font-weight: bold;
}

.img-current-song{
  width:200px;
  height:200px
}
.play-icon{
  margin-left: 2rem;
  margin-right: 2rem;
  width:30px;
  height:30px
}
.play-icon:hover{
  background-color:#30D4BB50;
}
.pause-icon{

  width:30px;
  height:30px
}
.pause-icon:hover{
  background-color:#30D4BB50;
}
.prev-icon{
  width:30px;
  height:30px
}
.prev-icon:hover{
  background-color:#30D4BB50;
}
.next-icon{
  width:30px;
  height:30px
}
.next-icon:hover{
  background-color:#30D4BB50;
}

