.playBtn{
  font-size:4rem;
  background:linear-gradient(135deg, #816FF7 0%, #30D4BB 100%);
}
.playBtn:hover{
  background:linear-gradient(135deg, #30D4BB 0%,#816FF7  100%)
}
.img-current-song{
width:100px;
height:100px
}
